{{> head }}
{{> navbar }}

   <div class="row">

        <div class="col-8">
            <h1>Galaxia</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores beatae nobis harum. Labore neque eligendi vero eum! Ipsum soluta nesciunt maiores? Animi, repudiandae? Alias sapiente architecto omnis! Reiciendis, debitis sapiente!
            </p>
        </div>

        <div class="col-4">
            <img src="assets/img/galaxia.jpg" class="img-thumbnail" alt="Galaxia">
        </div>
   </div>

{{> footer }}   